<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo1.png') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="https://www.hcoe.edu.np/" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
      <!--
      <ul class="nav-links">
        <li><a href="student1.html" class="login-btn">Go to Student</a></li>
      </ul>
      -->
      <div class="menu-toggle">&#9776;</div>
    </nav>
  </header>

  <div class="fade-in-left delay-0 text-box">
    <h1>Admin Login</h1>
    <h4>Verify your authorization for student document scanning</h4>
    <br>
</div>

<div class="fade-in-right delay-1 wrapper">
  <form action="{{ url_for('admin_login') }}" method="POST">
      <div class="input-field">
          <input type="email" name="email" required>
          <label>Email</label>
      </div>
      <div class="input-field">
          <input type="password" name="password" id="password" required>
          <span class="toggle-password" onclick="togglePassword('password')">👁</span>
          <label>Password</label>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
          <p>Don't have an account? <a href="{{ url_for('admin_register') }}">Register</a></p>
      </div>
      <div class="register">
        <p>Are you a student? <a href="{{ url_for('home') }}">Click Here</a> </p>
      </div>
  </form>
  <!--
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
      {% endif %}
  {% endwith %}
  -->
</div>
<script>
  function togglePassword(fieldId) {
      var passwordField = document.getElementById(fieldId);
      if (passwordField.type === "password") {
          passwordField.type = "text";  // Show password
      } else {
          passwordField.type = "password";  // Hide password
      }
  }
  </script>
</body>
</html>